@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-small::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar-small::-webkit-scrollbar-track {
    background: #671515;
    border-radius: 10px;
  }
  .scrollbar-small::-webkit-scrollbar-thumb {
    background: #059bd6;
    border-radius: 10px;
  }
  .scrollbar-small::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollbar-hide,
  .modal-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
